<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jack.rms.dao.UserTagMapper" >
  <resultMap id="BaseResultMap" type="com.jack.rms.model.UserTag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="tag_type" property="tagType" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, tag_name, create_time, tag_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jack.rms.model.UserTag" >
    insert into sys_user_tag (id, user_id, tag_name, 
      create_time, tag_type)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{tagType,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jack.rms.model.UserTag" >
    insert into sys_user_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="tagName != null" >
        tag_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="tagType != null" >
        tag_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null" >
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tagType != null" >
        #{tagType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jack.rms.model.UserTag" >
    update sys_user_tag
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null" >
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tagType != null" >
        tag_type = #{tagType,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jack.rms.model.UserTag" >
    update sys_user_tag
    set user_id = #{userId,jdbcType=INTEGER},
      tag_name = #{tagName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      tag_type = #{tagType,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>